<launch>

  <arg name="open_rviz" default="1"/>

<include file="$(find thurobot)/launch/bringup.launch">
  </include>

<include file="$(find tagslam)/launch/apriltag_mynt_detector_node.launch">
  </include>

<include file="$(find mynteye_wrapper_d)/launch/mynteye_correct.launch">
  </include>

<include file="$(find tagslam)/launch/tagslam_mynteye.launch"> 
  </include>

  <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms --> 
  <node pkg="tf" type="static_transform_publisher" name="room_to_tag0_link" args="-0.091 -0.405 2.916 1.622 -0.018 -3.119 /tag_0 /room_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="cam0_to_robot_base_link" args="0.045 0.305 -1.00 0 0.00 0.00 /cam0 /robot_base 100"/> 
  <node pkg="tf" type="static_transform_publisher" name="robot_base_to_lidar_link" args="0 0.3 0.24 4.7122 0 0 /robot_base /lidar_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="cam0_to_mynteye_link" args="0.00 0.00 0.00 0.00 0.00 0.00 /cam0 /mynteye_link_frame 100"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="robot_base_to_imu_link" args="0.25 0 0.297 0 0 0  /robot_base /imu_link  100"/> --> 

<node name="dwa_node" pkg="path_plan_control" type="dwa_node"
  args="$(find path_plan_control)/config" clear_params="true" output="screen" >
</node>

<group if="$(arg open_rviz)"> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tagslam)/example/tagslam_example.rviz" />
</group> 
 
</launch>